@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: transparent;

    --backgroundBase: #F9F9F9;
    --backgroundLevel1: #FFFFFF;
    --backgroundLevel2: #F0F0F0;
    --borderBase: #E5E5E5;
    --textColorBase: #222222;
    --textInput: #4b4b4b;
    --overlay: rgba(0, 0, 0, 0.4);
    --videoCardOverlay: rgb(220, 38, 38);

    /* Toastify Overriden styles */
    --toastify-color-dark: var(--backgroundLevel2);
    --toastify-text-color-dark: var(var(--textColorBase));
    --toastify-color-progress-dark: var(--videoCardOverlay);

  }

  /* scroll width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Scroll Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Scroll Handle */
  ::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 10px;
  }

  /* Scroll Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
  }

  
  
  .dark {
    --backgroundBase: #181818;
    --backgroundLevel1: #202020;
    --backgroundLevel2: #313131;
    --borderBase: #383838;
    --textColorBase: #ffffff;
    --textInput: #a3a3a3;
    --overlay: rgba(0, 0, 0, 0.4);
    --videoCardOverlay: rgb(220, 38, 38);

  }

  svg path.text {
    fill: var(--textColorBase)
  }

  .SwitchThumb[data-state='checked'] {
    transform: translateX(1.25rem);
  }
}